<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index,follow" />
  <meta name="keywords" content="{{ site.keywords }}" />
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{ site.root }}css/readable.css" rel="stylesheet" title="readable" media="screen" />
  <link href="{{ site.root }}css/slate.css" rel="alternate stylesheet" media="screen" title="slate" />
  <link href="{{ site.root }}css/bootswatch.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="{{ site.root }}favicon.ico" />
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35886017-1']);
      _gaq.push(['_setDomainName', 'terracoin.org']);
      _gaq.push(['_trackPageview']);

      (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
  </script>
  <style type="text/css">
   body {
       padding-bottom: 180px;
   }
  </style>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">

    <div class="container">

      <div class="navbar-header">
        <a href="{{ site.root }}" class="navbar-brand">Terracoin</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div><!-- navbar-header -->

      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li{% if page.category == 'home' %} class="active"{% endif %}><a href="{{ site.root }}">Home</a></li>
          <li{% if page.category == 'about' %} class="active"{% endif %}><a href="{{ site.root }}about.html">About</a></li>
          <li{% if page.category == 'news' %} class="active"{% endif %}><a href="{{ site.root }}news.html">News</a></li>
          <li{% if page.category == 'alert' %} class="active"{% endif %}><a href="{{ site.root }}alerts.html">Alerts</a></li>
          <li{% if page.category == 'howto' %} class="active"{% endif %}><a href="{{ site.root }}howto.html">Howto</a></li>
          <li{% if page.category == 'service' %} class="active"{% endif %}><a href="{{ site.root }}services.html">Services</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li{% if page.category == "downloads" %} class="active"{% endif %}><a href="{{ site.root }}downloads.html">Downloads</a></li>
        </ul>
      </div><!-- navbar-collapse collapse #navbar-main -->

    </div><!-- container -->

  </div><!-- navbar navbar-default navbar-fixed-top -->

<div class="container">
<!-- content -->

<div class="row">
  <div class="col-md-12">
    <h1>{{ page.title }}</h1>
  </div><!-- /col-md-12 -->
</div><!-- /row -->

<!-- optional summary -->
{% if page.summary %}
 {% if page.category == 'alert' %}
 <div class="row">
   <div class="col-lg-12">
     <div class="bs-example">
       <div class="alert alert-dismissable alert-warning">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <h4>Alert</h4>
         <p>{{ page.summary }}</p>
       </div><!-- /alert alert-dismissable alert-warning -->
     </div><!-- /bs-example -->
   </div><!-- /col-lg-12 -->
 </div><!-- /row -->
 {% else %}
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <p>{{ page.summary }}</p>
    </div>
  </div>
</div><!-- row -->
 {% endif %}
{% endif %}

<div class="row">
<!-- page content -->
{{ content|raw }}
<!-- /page content -->
</div><!-- /row -->

<div class="container">
  <div class="row-fluid">
    <div class="span12 pull-right">
      {{ page.date }}
    </div>
  </div>
</dif>

<!-- /content -->
</div><!-- /container -->

    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="col-sm-2">
          <b>Community</b><br/>
          <a href="http://sourceforge.net/p/terracoin/mailman/" class="small" title="Terracoin mailing lists">Mailing lists</a><br/>
          <a href="http://sourceforge.net/p/terracoin/discussion/" class="small" title="Terracoin discussion forums">Discussion forum</a>
        </div>

        <div class="col-sm-2">
         <b>Downloads</b><br/>
         <a href="http://sourceforge.net/projects/terracoin/files/latest/download" class="small" title="Windows Terracoin download">Windows</a><br/>
         <a href="http://sourceforge.net/projects/terracoin/files/SatoshiClone/" class="small" title="Windows Terracoin development clients download">Development</a>
        </div>

        <div class="col-sm-2">
         <b>Participate</b><br/>
         <a href="https://github.com/terracoin/terracoin/issues" class="small" title="Terracoin issue tracker">Issue Tracker</a><br/>
         <a href="https://github.com/terracoin/terracoin/wiki" class="small" title="Terracoin wiki">Wiki</a>
        </div>

        <div class="col-sm-2">
         <b>Sourcecode</b><br/>
         <a href="https://github.com/terracoin/terracoin" title="Terracoin github project page">Github</a><br/>
         <a href="http://sourceforge.net/projects/terracoin/" title="Terracoin sourceforge project page">Sourceforge</a>
        </div>

        <div class="col-sm-2 pull-right">
         <b>Forum</b><br/>
         <a href="http://www.terracointalk.org/" title="Terracoin discussion forum"><img src="{{ site.root }}images/terracointalk.png" alt="terracointalk.org" width="32" height="32" /></a>
        </div>
      </div><!-- container -->
    </div>

  <script src="{{ site.root }}js/jquery.min.js"></script>
  <script src="{{ site.root }}js/bs.min.js"></script>
  <script src="{{ site.root }}js/bootswatch.js"></script>
</body>
</html>

